<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indian Tennis Academy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <!-- Font Family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Julius+Sans+One&family=Ovo&family=Protest+Guerrilla&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Julius+Sans+One&family=Oswald:wght@200..700&family=Ovo&family=Protest+Guerrilla&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Julius+Sans+One&family=Oswald:wght@200..700&family=Ovo&family=Protest+Guerrilla&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid" style="gap: 15px;">
            <img src="../media/logo.png" height="50px" width="50px" style="margin: 0 20px;">
            <a class="navbar-brand" href="#" style="font-family: Ovo, serif; font-size: 19px; font-weight: bold;">Indian Tennis Academy</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto" style="gap: 10px;">
                    <li class="nav-item"><a class="nav-link" href="../index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="../#events">Events</a></li>
                    <li class="nav-item"><a class="nav-link" href="../#blogs">Blogs</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Shop</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Map -->
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.3639091117775!2d72.53191767554426!3d23.047116379156645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e84a52d2df2e3%3A0x5d4f5ada7d59b99f!2sSRAG%20Tennis%20Academy!5e0!3m2!1sen!2sin!4v1734326232435!5m2!1sen!2sin" width="100%" height="630" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                
            </div>
        </div>
    </div>

    <!-- Section-1 -->
    <div class="container-fluid my-5">
        <div class="row text-center">
            <div class="col-md-6">
                <div class="p-3">
                    <h4 class="mx-auto" style="font-size: 20px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; letter-spacing: 5px; margin-top: 100px;">CONTACT US</h4>
                    <h1 class="mx-auto my-5" style="font-family: Oswald, sans-serif;"> HAVE QUESTIONS ? </h1>
                    <h1 class="mx-auto" style="font-family: Oswald, sans-serif; margin-top: -40px;"> GET IN TOUCH! </h1>
                    <p class="mx-auto my-4 text-muted">Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                    <p class="text-muted" style="margin-top: 50px;">11792 London Rd, Derby, OH 43117</p>
                    <p style="font-family: Oswald, sans-serif; font-weight: 500; margin-left: 0px;">+1 800 555 45 65</p>
                    <p class="text-muted" style="margin-left: 0px;">info@email.com</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="my-5">
                    <form action="/action_page.php" style="margin-top: 200px;">
                        <div class="mb-3">
                            <input type="text" name="name" class="form-control" placeholder="Name" style="background-color: transparent; border: none;">
                        </div>
                        <hr>
                        <div class="mb-3">
                            <input type="email" name="email" class="form-control" placeholder="Email" style="background-color: transparent; border: none;">
                        </div>
                        <hr>
                        <div class="mb-3">
                            <input type="tel" name="phone" class="form-control" placeholder="Phone" style="background-color: transparent; border: none;" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
                        </div>
                        <hr>
                        <div class="mb-3">
                            <input type="text" name="subject" class="form-control" placeholder="Subject" style="background-color: transparent; border: none;">
                        </div>
                        <hr>
                        <button type="submit" class="btn text-light" style="margin-top: 30px; background-color: #2eac6d; height: 50px; width: 200px;"> GET IN TOUCH </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-light text-center py-3">
        <div>© Raj Patel · <a href="#" class="text-decoration-none text-light">Privacy</a> · <a href="#" class="text-decoration-none text-light">Terms</a></div>
        <a href="#" class="text-decoration-none text-light">Back to top</a>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>